<section class="welcome">

    <div class="row">
        <div class="col-md-12 left-align">
            <h2 class="dark-text">Introduction<hr></h2>
            <div class="row">

                <div class="col-md-12 full">
                    <div class="intro1">
                        <ul>
                            <li><strong>Item Name : </strong>Gather Responsive Event Template</li>
                            <li><strong>Item Version : </strong> v 1.0</li>
                            <li><strong>Author  : </strong> <a href="http://themeforest.net/user/surjithctly" target="_blank">Surjith S M</a></li>
                            <li><strong>Support Forum : </strong> <a href="https://support.surjithctly.in/forums" target="_blank">https://support.surjithctly.in/forums</a></li>
                            <li><strong>License : </strong> <a href="#" target="_blank">Un License</a></li>
                        </ul>
                    </div>

                    <hr>
                    <div>
                        <p>First of all, Thank you so much for purchasing this template and for being my loyal customer.
                            <strong>You are awesome!</strong>
                            <br> You are entitled to get free lifetime updates to this product + exceptional support from the author directly.
                        </p>

                        <p>This documentation is to help you regarding each step of customization. Please go through the documentation carefully to understand how this template is made and how to edit this properly. Basic HTML and CSS knowledge is required to customize this template. You may learn basics <a href="http://www.w3schools.com/" target="_blank">here</a>, <a href="https://developer.mozilla.org/" target="_blank">here</a> and <a href="http://learn.shayhowe.com/html-css/building-your-first-web-page/" target="_blank">here</a>. </p>

                        <h4>Requirements</h4>
                        <p>You will need the following sofwares to customize this template.</p>
                        <ol>
                            <li>Code Editing Software (eg: Dreamweaver, Sublime Text or Notepad)</li>
                            <li>Web Browser for testing (eg: Google Chrome or Mozilla Firefox)</li>
                            <li>FTP Tool to upload files to Server (eg: <a href="https://filezilla-project.org/download.php?type=client" target="_blank">FileZilla</a>) </li>
                        </ol>
                        <div class="intro2 clearfix">
                            <p><i class="fa fa-exclamation-triangle"></i> Be careful while editing the template. If not edited properly, the design layout may break completely.
                                <br> No support is provided for faulty customization.
                            </p>
                        </div>

                    </div>
                </div>

            </div>
            <!-- end row -->
        </div>
    </div>
</section>